node_modules/**/*
User/**/*
Backups/*
Cache/**/*
logs/**/*
Code Cache/**/*
CachedExtensions/**/*
CachedData/**/*
GPUCache/**/*
Cookies*
.expo/*
npm-debug.*
Network*
machineid*
rapid_render.json
storage.json
languagepacks.json
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
